.app-page {
  padding-top: 90px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
}

.app-sisu-page {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
}

.app-page::before {
  display: block;
  content: "";
  width: 100%;
  height: 40vh;
  z-index: -1;
  bottom: 0;
  background: linear-gradient(to bottom, white, #e6eeffad);
  position: fixed;
}

.app-page.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 0;
}

.input-search-wrapper {
  z-index: 0;
  margin: 30px 40px;
}

.input.input-search,
.textarea.comment-textarea {
  background: #f5f6fa;
  border-color: #f5f6fa;
}

.input-search-wrapper img {
  width: 16px;
  position: absolute;
  left: 16px;
  top: 13px;
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

.input-search-wrapper .input {
  width: 100%;
  padding-left: 40px;
}

.grid-view,
.feed-view {
  margin-top: 90px;
  margin-bottom: 350px;
  display: flex;
  flex-direction: column;
}

.posts-feed,
.posts-grid {
  margin-bottom: 50px;
}

.content-area {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.humans {
  margin: 80px 0;
}

.human {
  display: flex;
  flex-direction: column;
}

.human + .human {
  margin-top: 130px;
}

.name {
  position: relative;
  font-weight: 700;
  font-size: 30px;
}

.name span,
.role span {
  background: #d5ff43;
}

.role {
  color: #595959;
  margin-left: 18px;
  position: relative;
  top: 4px;
}

.name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: default;
}

.owner-name-wrapper .name,
.owner-name-wrapper .avatar {
  pointer-events: all;
  cursor: pointer;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 18px;
  margin-left: 4px;
  background: white;
  background-size: cover;
  transition: 300ms ease;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.1);
}

.no-avatar {
  pointer-events: none;
}

.avatar-full {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.owner-name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.team-name-wrapper {
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 28px;
}

.owner-name-wrapper .name {
  margin-bottom: 0;
}

.owner-name-wrapper .icon {
  opacity: 0;
  width: 25px;
  margin-left: 16px;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.team-name-wrapper .icon {
  position: absolute;
  width: 20px;
  right: 0;
}

.owner-name-wrapper:hover .icon {
  opacity: 1;
}

.human-has-updates {
  display: none;
  position: absolute;
  left: -98px;
  top: 5px;
  width: 12px;
  height: 22px;
  border-radius: 15px;
}

.timeframe-toggle {
  display: flex;
  height: 37px;
  justify-content: center;
  align-items: center;
}

.timeframe-toggle .label-inline {
  margin-right: 10px;
  cursor: pointer;
}

.timeframe-tag {
  padding: 7px 17px;
  border: 1px solid #dbdbdb;
  margin-left: 8px;
  font-size: 14px;
  border-radius: var(--border-radius);
  font-family: Poppins, sans-serif;
  position: relative;
  top: -1px;
  transition: transform 200ms;
  box-shadow: 0px 1px 4px -1px hsla(0, 0%, 0%, 0.14);
}

.timeframe-tag + .timeframe-tag {
  margin-left: 12px;
}

.timeframe-tag:not(.active):hover {
  transform: scale(1.02);
}

.timeframe-tag:active {
  position: relative;
  top: 1px;
  border: 1px solid #dbdbdb;
}

.timeframe-tag.active {
  border-color: #ae86fd;
  background: #f4f1ff;
  box-shadow: none;
  color: #7c3cfc;
  filter: hue-rotate(-6deg);
}

.timeframe-toggle .toggle-control {
  margin-right: 14px;
}

.view-mode-tab {
  padding: 7px 30px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  position: relative;
  top: -1px;
  transition: transform 200ms;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.08);
  min-width: 135px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background: white;
}

.view-mode-tab.active {
  border-color: #ae86fd;
  background: #f4f1ff;
  box-shadow: none;
  color: #7c3cfc;
  filter: hue-rotate(-6deg);
  cursor: default;
}

.view-mode-tab:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right-width: 0;
}

.view-mode-tab:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left-width: 0;
}

.view-mode-tab:first-child.active {
  position: relative;
  border-right-width: 1px;
  right: -1px;
  z-index: 1;
}

.view-mode-tab:last-child.active {
  position: relative;
  border-left-width: 1px;
  left: -1px;
  z-index: 1;
}

.posts-stream,
.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  row-gap: 2vw;
}

.post-thumb {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 14px;
  border: 1px white solid;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14);
  border-color: #dbdbdb47;
  cursor: pointer;
  transition: transform 300ms;
}

.post-thumb-empty {
  pointer-events: none;
}

.post-thumb:hover {
  transform: scale(1.05);
}

.post-thumb:active {
  transform: scale(0.95);
}

.post-thumb-image {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #f5f6fa;
  border-radius: 10px;
  transition: opacity 500ms;
  overflow: hidden;
}

.post-thumb-image img,
.post-image-lazy img,
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-image.post-image-lazy img {
  object-fit: contain;
}

.post-image.post-image-lazy a {
  cursor: zoom-in;
}

.post-thumb-shadow {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-size: cover;
  border-radius: 25px;
  filter: blur(5px);
  opacity: 0.2;
  z-index: -1;
}

.post-thumb-disabled {
  pointer-events: none;
}

.post-thumb-more-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffd6;
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
}

.post-thumb-more-button span {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.post-thumb-add-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 500;
  cursor: pointer;
  flex-direction: column;
}

.post-thumb-add-button img {
  width: 40px;
  margin-top: 10px;
}

.post-thumb-add-button span {
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
}

.post-thumb-details {
  white-space: nowrap;
  position: absolute;
  bottom: 8px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding: 6px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 12px 12px;
  font-size: 13px;
  transition: all ease 300ms;
  max-height: 120px;
  display: flex;
}

.post-thumb-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-thumb-comments {
  width: auto;
  margin-left: auto;
  padding-left: 4px;
}

.post-thumb-details .icon {
  width: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.post-thumb:hover .post-thumb-remove {
  opacity: 1;
}

.post-thumb-remove {
  width: 22px;
  position: absolute;
  top: -28px;
  right: -28px;
  padding: 10px;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-thumb-remove img {
  width: 100%;
}

.post-before-timeframe {
  opacity: 0.2;
}

.post-thumb-empty.post-before-timeframe {
  opacity: 0.3;
}

.post-modal {
  padding: 25px;
}

.post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-view {
  flex-direction: row;
}

.post-sidebar {
  width: 300px;
  padding-left: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.post-sidebar-bottom {
  flex-shrink: 0;
  height: calc(100% - 73px);
}

.post-sidebar-bottom {
  height: 100%;
  flex-shrink: 1;
}

.comments-area {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comment-textarea-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  background-color: #fafafc;
  overflow: hidden;
}

.post-image-dropzone {
  height: 600px;
  border-radius: 16px;
  border: 2px dashed #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-image-dropzone.active {
  background: #f1edff;
}

.post-image-select-file {
  margin-top: 5px;
  background: transparent;
}

.post-image.busy,
.textarea.busy {
  animation: pulse 2s infinite;
  cursor: progress;
}

.post-description {
  font-size: 16px;
  margin: 30px 0;
  line-height: 1.4;
}

.post-author-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.post-author-name-wrapper {
  display: flex;
  flex-direction: column;
}

.post-author-avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
  background: white;
  background-size: cover;
}

.post-author-name {
  font-weight: 700;
  font-size: 15px;
}

.post-author-role {
  font-size: 13px;
  color: #595959;
}

.description-textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.comment-textarea-wrapper .form-buttons {
  margin-top: 20px;
}

.comment-textarea {
  width: 100%;
  height: 47px;
  font-size: 14px;
}

.comment-textarea.focused {
  height: 81px;
}

.comments {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 47px - 10px);
  box-sizing: border-box;
  overflow: auto;
}

.textarea-focused .comments {
  height: calc(100% - 142px - 10px);
}

.loading-comment {
  animation: pulse 2s infinite;
}

.loading-comment .comment-author-avatar {
  background: #efeff0;
}

.loading-comment .comment-content {
  width: 70%;
  height: 8px;
  background: #efeff0;
  top: 7px;
  border-radius: 4px;
}

.comment {
  position: relative;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 10px;
  line-height: 1.35;
}

.comment + .comment {
  margin-top: 32px;
}

.comment:hover .comment-action-button {
  opacity: 1;
}

.comment-content {
  position: relative;
  top: 1px;
}

.comment-author {
  display: inline-flex;
  align-items: center;
  margin-right: 14px;
}

.comment-author-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -3px;
  margin-right: 14px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  box-shadow: 0px 1px 4px -1px hsl(0deg 0% 0% / 24%);
}

.comment-author-name {
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
}

.comment-action-button {
  position: absolute;
  bottom: -21px;
  left: 52px;
  font-size: 13px;
  color: #989898;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease;
}

svg.new-notifications-icon {
  position: absolute;
  top: -4px;
  right: 3px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 80%;
  color: #ff6dd2;
  pointer-events: none;
}

.popover-menu-button-wrapper {
  position: relative;
}

.notifications-menu {
  width: 350px;
  right: -40px;
  top: 52px;
}

.notifications-menu .comment {
  margin-top: 0;
}

.burger-menu {
  top: 55px;
  width: 230px;
}

.popover-menu-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
}

.popover-menu-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.popover-menu-loading-wrapper .spinner-box {
  transform: scale(0.8);
}

.popover-menu {
  position: absolute;
  box-sizing: border-box;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 20px 0px;
  border-radius: 15px;
  background: white;
  overflow: hidden;
}

.popover-menu .icon {
  width: 15px;
  margin-right: 15px;
}

.popover-menu-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popover-menu-item:hover {
  box-shadow: rgb(0 0 0 / 7%) 0px 4px 24px 0px;
}

.notification-thumb {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  align-self: flex-start;
}

.notification .comment {
  width: 100%;
  margin-top: 0;
  font-size: 14px;
}

.notification .comment-body {
  max-height: 53px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.large-post-thumb {
  width: 860px;
  height: 630px;
  padding: 25px;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 28px 0px;
  background: white;
}

.large-post-thumb + .large-post-thumb {
  margin-top: 80px;
}

.post-comments-collapsed {
  position: relative;
  z-index: 1;
}

.post-comments-collapsed .icon {
  width: 13px;
  margin-right: 8px;
  position: relative;
}

.post-comments-collapsed .button-wrapper {
  width: 100%;
}

.post-comments-collapsed .button {
  box-shadow: none;
  font-size: 14px;
}

.spinner-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 300ms ease;
}

.circle-border {
  width: 120px;
  height: 120px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #b8bbfa1c 33%, #b8bbfab8 100%);
  animation: spin 1s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
}

.newsletter-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-bottom: -10px;
}

.newsletter-checkbox-label {
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: #747474;
  padding-left: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.newsletter-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eef0f6;
  border-radius: 9px;
  transform: scale(0.9);
  border: 2px solid white;
}

.newsletter-checkbox-label:hover input ~ .checkmark {
  background-color: #e8eaf3;
}

.newsletter-checkbox-label input:focus ~ .checkmark {
  box-shadow: 0 0 0px 6px #e7e1ff99;
}

/* When the checkbox is checked, add a blue background */
.newsletter-checkbox-label input:checked ~ .checkmark {
  background-color: #8f88f7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.newsletter-checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.newsletter-checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.a-real-large-button {
  width: 860px;
  font-size: 16px;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 18px 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.a-real-large-button img {
  margin-right: 8px;
  width: 20px;
  position: relative;
  top: -1px;
}

.a-real-large-button span {
  font-weight: normal;
}

.load-more-button {
  margin-top: 40px;
}

.feed-submit-post-button {
  margin-bottom: 70px;
  margin-top: -10px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.burger-button {
  display: none;
}

.save-to-home-overlay {
  pointer-events: none;
  opacity: 0;
  transition: 300ms ease;
}

.save-to-home-overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal.save-to-home-modal {
  border-radius: 32px;
  bottom: 33px;
  position: absolute;
  left: 10px;
}

.iOS .save-to-home-modal:before {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 14px 16px 17px 0px;
  transform: rotate(45deg);
  bottom: -14px;
  background: white;
  left: 50%;
  margin-left: -16px;
}

.save-to-home-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.save-to-home-header img {
  width: 65px;
  margin-right: 15px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
}

.save-to-home-header .modal-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}

.ios-share-icon {
  margin: 0 6px;
  margin-top: -6px;
}

.save-to-home-modal .form-buttons {
  margin-top: 30px;
}

.iOS .save-to-home-modal .form-buttons .button-wrapper {
  width: 100%;
}

.view-mode-tabs {
  display: inline-flex;
  margin: auto;
  margin-top: 10px;
}

.view-mode-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-mode-tab svg {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  position: relative;
  left: -5px;
  top: -1px;
}

.warning-banner {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  background: #d5ff43;
  position: relative;
  top: -4px;
}

@media only screen and (max-device-width: 480px) {
  .burger-button {
    display: block;
  }

  .post-thumb-remove,
  .view-mode-buttons,
  .timeframe-toggle,
  .sticky-bar-buttons,
  .post-thumb-empty,
  .drag-and-drop,
  .dnd-or {
    display: none;
  }

  .view-mode-tabs {
    margin: auto;
    margin-top: 40px;
  }

  .view-mode-tab-grid {
    display: none;
  }

  .team-name {
    font-size: 20px;
  }

  .sticky-bar {
    padding: 20px 15px;
  }

  .burger-button {
    margin-left: 0;
    margin-right: 10px;
  }

  .burger-button .icon-button {
    padding: 0 14px;
  }

  .burger-button svg {
    width: 22px;
    height: 22px;
  }

  .team-logo {
    margin-right: 10px;
  }

  .home-logo {
    width: 44px;
    left: auto;
    top: 20px;
    right: 15px;
    margin-left: 0;
  }

  .posts-stream {
    display: flex;
    width: 100%;
    overflow: auto;
    height: 220px;
  }

  .posts-stream .post-thumb {
    width: 200px;
    height: 200px;
    margin-right: 8px;
    flex-shrink: 0;
    float: left;
    padding-top: 0;
  }

  .avatar {
    width: 47px;
    height: 47px;
  }

  .name {
    font-size: 21px;
    position: absolute;
  }

  .role {
    color: #838383;
    position: absolute;
    font-size: 13px;
    margin-left: 0;
  }

  .name,
  .role {
    left: 7px;
  }

  .name-with-avatar-wrapper .name,
  .name-with-avatar-wrapper .role {
    left: 66px;
  }

  .name-with-role-wrapper .name {
    top: -2px;
  }

  .name-with-role-wrapper .role {
    top: 29px;
  }

  .avatar {
    flex-shrink: 0;
  }

  .content-area {
    margin: 0;
    margin-bottom: 100px;
  }

  .input-search-wrapper {
    margin: 0 20px;
    margin-top: 30px;
  }

  .name-wrapper {
    margin-left: 20px;
    margin-top: 30px;
  }

  .posts-stream {
    padding-left: 25px;
    box-sizing: border-box;
  }

  .humans {
    margin-top: 30px;
  }

  .human,
  .human + .human {
    margin-top: 20px;
  }

  .a-real-large-button {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .large-post-thumb {
    width: calc(100% - 20px);
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .large-post-thumb .post-image {
    border-radius: 12px;
  }

  .post-image {
    padding-top: 100%;
    position: relative;
  }

  .post-image img {
    position: absolute;
    top: 0;
  }

  .post-author-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-description {
    margin: 20px 0;
  }

  .feed-submit-post-button {
    margin-bottom: 30px;
    margin-top: -30px;
  }

  .post-sidebar {
    padding-left: 0;
    width: 100%;
  }

  .post-comments-collapsed {
    margin-bottom: 30px;
  }

  .post-view {
    flex-direction: column;
  }

  .modal-overlay {
    overflow: auto;
    display: block;
  }

  .modal {
    width: calc(100% - 20px) !important;
    height: auto !important;
    box-sizing: border-box;
    margin-top: 78px !important;
  }

  .modal-x {
    position: absolute;
    top: -53px;
    right: 27px;
    /* to hide anything behind, for better contrast */
    background: white;
    box-shadow: 1px -38px 53px 70px white;
    border-radius: 100%;
  }

  .post-modal {
    padding: 30px 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .post-submit-modal,
  .notifications-modal {
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  .notifications-modal {
    max-height: 80vh;
  }

  .notifications-modal .comment {
    margin-top: 0;
  }

  .notifications-modal .popover-menu-item {
    padding-left: 0;
    padding-right: 0;
  }

  .notifications-modal .modal-title {
    margin-bottom: 20px;
  }

  .modal-overlay {
    align-items: flex-end;
  }

  .modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .comment-textarea-wrapper {
    margin-top: 0px;
  }

  .popover-menu {
    padding: 8px 0;
  }

  .post-image-dropzone {
    height: 240px;
  }

  .comments {
    margin-bottom: 30px;
  }

  .comments,
  .comment-textarea-wrapper {
    position: static;
    height: auto;
    overflow: visible;
  }

  .input-search-wrapper img {
    top: 14px;
  }
}
