.app-page {
  padding-top: 90px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
}

.app-sisu-page {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
}

.app-page::before {
  display: block;
  content: "";
  width: 100%;
  height: 40vh;
  z-index: -1;
  bottom: 0;
  background: linear-gradient(to bottom, white, #e6eeffad);
  position: fixed;
}

.app-page.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 0;
}

.input-search-wrapper {
  z-index: 0;
}

.input-search-wrapper img {
  width: 16px;
  position: absolute;
  left: 15px;
  top: 14px;
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

.input-search-wrapper .input {
  width: 100%;
  padding-left: 40px;
}

.grid-view,
.feed-view {
  margin-top: 100px;
  margin-bottom: 350px;
  display: flex;
  flex-direction: column;
}

.posts-feed,
.posts-grid {
  margin-bottom: 50px;
}

.directory {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.human {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 80px;
}

.human + .human {
  margin-top: 80px;
}

.name {
  position: relative;
  font-weight: 700;
  font-size: 33px;
}

.name span,
.role span {
  background: #e2dbff;
}

.role {
  color: #595959;
  margin-left: 16px;
  position: relative;
  top: 4px;
}

.name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  cursor: default;
}

.owner-name-wrapper .name,
.owner-name-wrapper .avatar {
  pointer-events: all;
  cursor: pointer;
}

.avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
  margin-left: 4px;
  background: white;
  background-size: cover;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.32);
  transition: 300ms ease;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.1);
}

.no-avatar {
  pointer-events: none;
}

.avatar-full {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.owner-name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.team-name-wrapper {
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 28px;
}

.owner-name-wrapper .name {
  margin-bottom: 0;
}

.owner-name-wrapper .icon {
  opacity: 0;
  width: 25px;
  margin-left: 16px;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.team-name-wrapper .icon {
  position: absolute;
  width: 20px;
  right: 0;
}

.owner-name-wrapper:hover .icon {
  opacity: 1;
}

.human-has-updates {
  display: none;
  position: absolute;
  left: -98px;
  top: 5px;
  width: 12px;
  height: 22px;
  border-radius: 15px;
}

.timeframe-toggle {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.timeframe-toggle .label-inline {
  margin-right: 10px;
  cursor: pointer;
}

.timeframe-tag {
  padding: 7px 17px;
  border: 1px solid #dbdbdb;
  margin-left: 8px;
  font-size: 14px;
  border-radius: var(--border-radius);
  font-family: Poppins, sans-serif;
  position: relative;
  top: -1px;
  transition: transform 200ms;
  box-shadow: 0px 1px 4px -1px hsla(0, 0%, 0%, 0.14);
}

.timeframe-tag + .timeframe-tag {
  margin-left: 12px;
}

.timeframe-tag:not(.active):hover {
  transform: scale(1.02);
}

.timeframe-tag:active {
  position: relative;
  top: 1px;
  border: 1px solid #dbdbdb;
}

.timeframe-tag.active {
  border-color: #ae86fd;
  background: #f4f1ff;
  box-shadow: none;
  color: #7c3cfc;
  filter: hue-rotate(-6deg);
}

.timeframe-toggle .toggle-control {
  margin-right: 14px;
}

.posts-stream,
.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  row-gap: 2vw;
}

.post-thumb {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 12px;
  border: 1px white solid;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14);
  border-color: #dbdbdb47;
  cursor: pointer;
  transition: transform 300ms;
}

.post-thumb-empty {
  pointer-events: none;
}

.post-thumb:hover {
  transform: scale(1.05);
}

.post-thumb:active {
  transform: scale(0.95);
}

.post-thumb-image {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #f5f5f5;
  border-radius: 8px;
  transition: opacity 500ms;
  overflow: hidden;
}

.post-thumb-image img,
.post-image-lazy img,
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-thumb-shadow {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-size: cover;
  border-radius: 25px;
  filter: blur(5px);
  opacity: 0.2;
  z-index: -1;
}

.post-thumb-disabled {
  pointer-events: none;
}

.post-thumb-more-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffd6;
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
}

.post-thumb-more-button span {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.post-thumb-add-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 500;
  cursor: pointer;
  flex-direction: column;
}

.post-thumb-add-button img {
  width: 40px;
  margin-top: 10px;
}

.post-thumb-add-button span {
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
}

.post-thumb-details {
  white-space: nowrap;
  position: absolute;
  bottom: 8px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding: 6px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 12px 12px;
  font-size: 13px;
  transition: all ease 300ms;
  max-height: 120px;
  display: flex;
}

.post-thumb-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-thumb-comments {
  width: auto;
  margin-left: auto;
  padding-left: 4px;
}

.post-thumb-details .icon {
  width: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.post-thumb:hover .post-thumb-remove {
  opacity: 1;
}

.post-thumb-remove {
  width: 22px;
  position: absolute;
  top: -28px;
  right: -28px;
  padding: 10px;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-thumb-remove img {
  width: 100%;
}

.post-before-timeframe {
  opacity: 0.2;
}

.post-thumb-empty.post-before-timeframe {
  opacity: 0.3;
}

.post-modal {
  padding: 25px;
}

.post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-view {
  flex-direction: row;
}

.post-sidebar {
  width: 280px;
  padding-left: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.post-sidebar-bottom {
  flex-shrink: 0;
  height: calc(100% - 73px);
}

.post-sidebar-bottom {
  height: 100%;
  flex-shrink: 1;
}

.comments-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comment-textarea-wrapper {
  flex-shrink: 0;
}

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
  overflow: hidden;
}

.post-image-dropzone {
  height: 600px;
  border-radius: 16px;
  border: 2px dashed #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-image-dropzone.active {
  background: #f1edff;
}

.post-image-select-file {
  margin-top: 5px;
  background: transparent;
}

.post-image.busy,
.textarea.busy {
  animation: pulse 2s infinite;
  cursor: progress;
}

.post-description {
  font-size: 16px;
  margin: 30px 0;
  line-height: 1.4;
}

.post-author-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.post-author-name-wrapper {
  display: flex;
  flex-direction: column;
}

.post-author-avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
  background: white;
  background-size: cover;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
}

.post-author-name {
  font-weight: 700;
  font-size: 15px;
}

.post-author-role {
  font-size: 13px;
  color: #595959;
}

.description-textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.comment-textarea-wrapper .form-buttons {
  margin-top: 20px;
}

.comment-textarea {
  width: 100%;
  font-size: 14px;
}

.comments {
  height: 100%;
  box-sizing: border-box;
}

.loading-comment {
  animation: pulse 2s infinite;
}

.loading-comment .comment-author-avatar {
  background: #efeff0;
}

.loading-comment .comment-content {
  width: 70%;
  height: 8px;
  background: #efeff0;
  top: 7px;
  border-radius: 4px;
}

.comment {
  position: relative;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 10px;
  line-height: 1.35;
}

.comment + .comment {
  margin-top: 32px;
}

.comment:hover .comment-action-button {
  opacity: 1;
}

.comment-content {
  position: relative;
  top: 1px;
}

.comment-author {
  display: inline-flex;
  align-items: center;
  margin-right: 14px;
}

.comment-author-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -3px;
  margin-right: 14px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  box-shadow: 0px 1px 4px -1px hsl(0deg 0% 0% / 24%);
}

.comment-author-name {
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
}

.comment-action-button {
  position: absolute;
  bottom: -21px;
  left: 52px;
  font-size: 13px;
  color: #989898;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease;
}

svg.new-notifications-icon {
  position: absolute;
  top: -4px;
  right: 3px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 80%;
  color: #f56e2c;
}

.notifications-button-wrapper {
  position: relative;
  margin-right: 8px;
}

.notifications-popover {
  position: absolute;
  width: 350px;
  box-sizing: border-box;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 20px 0px;
  border-radius: 15px;
  background: white;
  right: -40px;
  top: 52px;
  overflow: hidden;
}

.notification {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notification:hover {
  box-shadow: rgb(0 0 0 / 7%) 0px 4px 24px 0px;
}

.notification-thumb {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.notification .comment {
  width: 100%;
  margin-top: 0;
  font-size: 14px;
}

.notification .comment-body {
  max-height: 53px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.large-post-thumb {
  width: 860px;
  height: 630px;
  padding: 25px;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 28px 0px;
  background: white;
}

.large-post-thumb + .large-post-thumb {
  margin-top: 80px;
}

.post-comments-collapsed {
}

.post-comments-collapsed .icon {
  width: 13px;
  margin-right: 8px;
  position: relative;
}

.post-comments-collapsed .button-wrapper {
  width: 100%;
}

.post-comments-collapsed .button {
  box-shadow: none;
  font-size: 14px;
}

.spinner-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.spinner-box {
  margin-top: -100px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 300ms ease;
}

.circle-border {
  width: 120px;
  height: 120px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #b8bbfa1c 33%, #b8bbfab8 100%);
  animation: spin 1s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
}

.newsletter-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-bottom: -10px;
}

.newsletter-checkbox-label {
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: #747474;
  padding-left: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.newsletter-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f0f0f1;
  border-radius: 9px;
  transform: scale(0.9);
  border: 2px solid white;
}

.newsletter-checkbox-label:hover input ~ .checkmark {
  background-color: #e7e7e7;
}

.newsletter-checkbox-label input:focus ~ .checkmark {
  box-shadow: 0 0 0px 6px #e7e1ff99;
}

/* When the checkbox is checked, add a blue background */
.newsletter-checkbox-label input:checked ~ .checkmark {
  background-color: #8f88f7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.newsletter-checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.newsletter-checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.a-real-large-button {
  width: 860px;
  box-sizing: border-box;
  padding: 18px 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.a-real-large-button img {
  margin-right: 8px;
  width: 20px;
}

.a-real-large-button span {
  font-weight: normal;
}

.load-more-button {
  margin-top: 40px;
}

.feed-submit-post-button {
  margin-bottom: 70px;
  margin-top: -10px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

@media (hover: none) {
  .view-mode-buttons,
  .timeframe-toggle,
  .sticky-bar-buttons {
    display: none;
  }

  .home-logo {
    width: 44px;
    left: auto;
    top: 20px;
    right: 20px;
    margin-left: 0;
  }

  .posts-stream {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  .posts-stream .post-thumb {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    float: left;
  }

  .name {
    font-size: 18px;
    position: absolute;
    left: 58px;
  }

  .owner-name-with-role-wrapper .name {
    top: -3px;
    font-size: 18px;
  }

  .owner-name-with-role-wrapper .role {
    font-size: 13px;
    left: 2px;
    margin-left: 0;
    top: 13px;
  }

  .avatar {
    flex-shrink: 0;
  }
}
