.input-search-wrapper {
  z-index: 0;
}

.input-search-wrapper img {
  width: 16px;
  position: absolute;
  left: 15px;
  top: 14px;
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

.input-search-wrapper .input {
  width: 100%;
  padding-left: 40px;
}

.footer {
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  font-size: 14px;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-view {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.directory {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-top: 30px;
}

.human {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}

.name {
  position: relative;
  font-weight: 700;
  font-size: 33px;
}

.name span {
  background: #e2dbff;
}

.role {
  color: #595959;
  margin-left: 16px;
  position: relative;
  top: 5px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  cursor: default;
}

.owner-name-wrapper .name,
.owner-name-wrapper .avatar {
  pointer-events: all;
}

.avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
  margin-left: 4px;
  background: white;
  background-size: cover;
  box-shadow: 0px 1px 4px -1px hsl(0deg 0% 0% / 32%);
  transition: 300ms ease;
  cursor: pointer;
}

.no-avatar {
  pointer-events: none;
}

.avatar-full {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.owner-name-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.owner-name-wrapper {
  margin-bottom: 30px;
}

.team-name-wrapper {
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 28px;
}

.owner-name-wrapper .name {
  margin-bottom: 0;
}

.owner-name-wrapper .icon {
  opacity: 0;
  width: 25px;
  margin-left: 16px;
  transition: opacity 300ms ease;
}

.team-name-wrapper .icon {
  position: absolute;
  width: 20px;
  right: 0;
}

.owner-name-wrapper:hover .icon {
  opacity: 1;
}

.human-has-updates {
  display: none;
  position: absolute;
  left: -98px;
  top: 5px;
  width: 12px;
  height: 22px;
  border-radius: 15px;
}

.new-posts-toggle {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.new-posts-toggle .label-inline {
  margin-right: 10px;
  cursor: pointer;
}

.timeframe-tag {
  padding: 7px 17px;
  border: 1px solid #dbdbdb;
  margin-left: 8px;
  font-size: 14px;
  border-radius: var(--border-radius);
  font-family: Poppins, sans-serif;
  position: relative;
  top: -1px;
  transition: transform 200ms;
  box-shadow: 0px 1px 4px -1px hsla(0, 0%, 0%, 0.14);
}

.timeframe-tag + .timeframe-tag {
  margin-left: 12px;
}

.timeframe-tag:not(.active):hover {
  transform: scale(1.02);
}

.timeframe-tag:active {
  position: relative;
  top: 1px;
  border: 1px solid #dbdbdb;
}

.timeframe-tag.active {
  border-color: #ae86fd;
  background: #f4f1ff;
  cursor: default;
  box-shadow: none;
  color: #7c3cfc;
}

.new-posts-toggle .toggle-control {
  margin-right: 14px;
}

.posts-stream {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  row-gap: 2vw;
}

.post-thumb {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 12px;
  border: 1px white solid;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14);
  border-color: #dbdbdb47;
  cursor: pointer;
  transition: transform 300ms;
}

.post-thumb-empty {
  pointer-events: none;
}

.post-thumb:hover {
  transform: scale(1.05);
}

.post-thumb:active {
  transform: scale(0.95);
}

.post-thumb-image {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background: #f5f5f5;
  border-radius: 8px;
  transition: opacity 500ms;
  overflow: hidden;
}

.post-thumb-image img,
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-thumb-shadow {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-size: cover;
  border-radius: 25px;
  filter: blur(5px);
  opacity: 0.2;
  z-index: -1;
}

.post-thumb-more-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffd6;
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.post-thumb-more-button span {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.post-thumb-add-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 500;
  cursor: pointer;
}

.post-thumb-add-button img {
  width: 40px;
}

.post-thumb-description {
  white-space: nowrap;
  position: absolute;
  bottom: 6px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding: 6px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 12px 12px;
  font-size: 13px;
  transition: all ease 300ms;
  max-height: 120px;
}

.post-thumb-description .icon {
  width: 12px;
  margin-right: 2px;
}

.post-thumb:hover .post-thumb-remove {
  opacity: 1;
}

.post-thumb-remove {
  width: 22px;
  position: absolute;
  top: -28px;
  right: -28px;
  padding: 10px;
  opacity: 0;
  transition: opacity 300ms ease;
}

.post-thumb-remove img {
  width: 100%;
}

.post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-view {
  flex-direction: row;
}

.post-sidebar {
  width: 280px;
  height: 100%;
  padding-left: 25px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.post-sidebar-bottom {
  height: 100%;
}

.comments-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comment-textarea-wrapper {
  flex-shrink: 0;
}

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.post-image-dropzone {
  height: 600px;
  border-radius: 16px;
  border: 2px dashed #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-image-dropzone.active {
  background: #f1edff;
}

.post-image-select-file {
  margin-top: 5px;
  background: transparent;
}

.post-image.busy {
  animation: pulse 2s infinite;
  cursor: progress;
}

.post-description {
  font-size: 15px;
  margin-top: 15px;
  line-height: 1.35;
}

.post-author-block {
  display: flex;
  align-items: center;
}

.post-author-name-wrapper {
  display: flex;
  flex-direction: column;
}

.post-author-avatar {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
  background: white;
  background-size: cover;
}

.post-author-name {
  font-weight: 700;
  font-size: 15px;
}

.post-author-role {
  font-size: 13px;
  color: #595959;
}

.description-textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.comment-textarea-wrapper .form-buttons {
  margin-top: 20px;
}

.comment-textarea {
  width: 100%;
  font-size: 14px;
}

.comments {
  padding-top: 30px;
  height: 100%;
  box-sizing: border-box;
}

.comment {
  position: relative;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 10px;
  line-height: 1.35;
}

.comment-author {
  display: inline-flex;
  align-items: center;
  margin-right: 14px;
}

.comment-author-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -3px;
  margin-right: 14px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
}

.comment-author-name {
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
}

.comment-reply-button {
  position: absolute;
  bottom: -25px;
  left: 52px;
  font-size: 13px;
  color: #989898;
  cursor: pointer;
}

.load-more-button-wrapper {
  margin-top: 80px;
  margin-bottom: 40px;
}

.load-more-button-wrapper .button {
  width: 200px;
}
