.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px;
}

.header .button-hollow {
  width: 60px;
  background: #f7f8fa;
  font-size: 14px;
}

.header-left-side,
.header-right-side {
  display: flex;
  align-items: center;
}

.header-right-side {
  justify-content: flex-end;
}

.about-logo {
  width: 50px;
  margin-right: 16px;
  border-radius: 100%;
  box-shadow: 0 0 110px 80px #ffffffe8;
  box-shadow: 0 0 600px 220px #ffffffed;
  cursor: pointer;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 35px;
  cursor: pointer;
}

.llamify {
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
}

.about-page {
  position: relative;
  padding-bottom: 200px;
}

.about-page::before {
  display: block;
  content: "";
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
  top: 0;
  background: linear-gradient(0deg, white, #e6eeff);
}

.about-page::after {
  display: block;
  content: "";
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: linear-gradient(0deg, #e6eeff, white);
}

.mock-up {
  width: 100%;
  max-width: 1140px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 35px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 20px 60px -30px;
  backface-visibility: hidden;
  transform: translateZ(0px);
  margin: 110px auto 50px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  margin-bottom: 240px;
}

.mock-up-bar {
  height: 2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 0px 10px;
  margin-bottom: -10px;
}

.mock-up-bar span {
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background: #9ba6c6;
}

.main-text {
  max-width: 620px;
  margin: auto;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 100px;
  font-size: 39px;
  line-height: 1.4;
  font-weight: 700;
}

.cta-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cta-button {
  padding: 21px 46px;
  border-radius: 16px;
  font-size: 18px;
}

.confetti-back {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 1210px;
  left: 50%;
  top: 380px;
  filter: blur(3px) saturate(2);
  transform: translateX(-50%);
}

.secondary-text {
  width: 100%;
  max-width: 770px;
  display: flex;
  margin: 220px auto;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.secondary-text h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}

.secondary-text-block {
  margin: 14px 0;
}

.secondary-text-img-wrapper {
  position: relative;
  flex-shrink: 0;
}

.secondary-text-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.your-identiy-at-work {
  max-width: 740px;
}

.space-for-updates {
  max-width: 730px;
}

.more-productive {
  max-width: 720px;
  position: relative;
}

.bullet {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 12px;
  filter: blur(2px);
  margin-left: -20px;
}

.human-span {
  position: relative;
}

.human-span::before {
  display: block;
  content: "";
  width: 31px;
  height: 3px;
  border-radius: 5px;
  background: #fb6ee4;
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -19px;
  filter: blur(2px);
  transform: rotate(-6deg);
}

.activity {
  position: relative;
}

.activity::before {
  display: block;
  content: "";
  width: 18px;
  height: 6px;
  border-radius: 5px;
  background: #fb6ee4;
  position: absolute;
  bottom: -42px;
  left: 50%;
  margin-left: -15px;
  filter: blur(3px);
  transform: rotate(6deg);
}

.activity:nth-of-type(2)::before {
  background: #b6fa0b;
  transform: rotate(-37deg);
  bottom: -60px;
  width: 22px;
}

.activity:nth-of-type(3)::before {
  background: #9066fa;
  transform: rotate(0deg);
}

.post-thumb {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 12px;
  border: 1px white solid;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14);
  border-color: #dbdbdb47;
  cursor: pointer;
  transition: transform 300ms;
}

.post-thumb-image {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #f5f5f5;
  border-radius: 8px;
  transition: opacity 500ms;
  overflow: hidden;
}

.screenshot-desktop {
  width: 100%;
}

.screenshot-mobile {
  display: none;
}

@media (hover: none) {
  .screenshot-desktop,
  .mock-up-bar {
    display: none;
  }

  .about-page {
    width: 100%;
    overflow: hidden;
  }

  .mock-up {
    width: calc(100% - 40px);
  }

  .header {
    padding: 30px;
  }

  .screenshot-mobile {
    display: block;
    width: 100%;
  }

  .space-for-updates,
  .your-identiy-at-work,
  .more-productive {
    flex-direction: column;
  }

  .header-right-side a {
    display: none;
  }

  .confetti-back {
    width: 710px;
    top: 440px;
  }
}
