:root {
  --primary-color: #7c3cfc;
  --border-radius: 8px;
  --footer-height: 60px;
}

html,
body,
textarea,
.firebaseui-container {
  font-family: "Poppins", sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  align-items: center;
  height: var(--footer-height);
  font-size: 14px;
}

.footer-buttons a {
  text-decoration: none;
  color: #000000;
}

.footer-buttons a + a {
  margin-left: 20px;
}

.llamify-com {
  font-size: 14px;
}

.sisu-page {
  width: 100vw;
  height: calc(100vh - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sisu-page::before {
  display: block;
  content: "";
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
  top: 0;
  background: linear-gradient(0deg, white, #e6eeff);
}

.image-field-form-wrapper {
  display: flex;
}

.sisu-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 20px;
}

.sisu-logo {
  width: 110px;
  margin-top: -40px;
  margin-bottom: 40px;
  position: relative;
  left: -5px;
}

.home-logo {
  position: absolute;
  width: 48px;
  transform: scale(1.05);
  left: 50%;
  margin-left: -25px;
  top: 19px;
  z-index: 100;
  transition: 300ms ease;
  cursor: pointer;
}

.home-logo:hover {
  transform: scale(1.1);
}

::selection {
  background: #e2dbff; /* WebK#bdadffit/Blink Browsers */
}
::-moz-selection {
  background: #e2dbff; /* Gecko Browsers */
}

html,
body,
textarea {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  background: transparent;
}

button:active {
  border: none;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.label span {
  opacity: 0.2;
  font-size: 0.9em;
  margin-left: 8px;
}

.label-inline {
  font-size: 15px;
  color: #747474;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}

.input,
.textarea {
  box-sizing: border-box;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: var(--border-radius);
  background: #f1f3f8;
  border: 1px solid #f1f3f8;
  outline: none;
}

.input:not(.read-only):hover,
.textarea:not(.read-only):hover {
  transition: all 250ms;
  box-shadow: 0 0 0px 6px rgba(121, 110, 255, 0.11) !important;
  background: white;
}

.input:active,
.textarea:active {
  position: relative;
  transform: scale(1);
}

.input:not(.read-only):focus,
.textarea:not(.read-only):focus {
  border-color: #796eff;
  box-shadow: 0 0 0px 6px rgba(121, 110, 255, 0.11) !important;
  background: white;
}

.input.error,
.textarea.error {
  border-color: #fc3c83;
  background: white;
  box-shadow: 0 0 0px 5px #ffe1f499;
}

.textarea {
  resize: none;
}

.toggle-control {
  position: relative;
  display: inline-block;
  background-color: #eeeef3;
  width: 38px;
  height: 22px;
  cursor: pointer;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.toggle-control:hover {
  transform: scale(1.05);
}

.toggle-control:active {
  transform: scale(0.95);
}

.toggle-control.active {
  background-color: hsla(253, 100%, 93%, 1);
}

.toggle-control:after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  top: 4px;
  left: 4px;
  background-color: #9e9ea7;
  transition: all ease 0.3s;
}

.toggle-control.active:after {
  left: auto;
  right: 4px;
  background-color: var(--primary-color);
}

.file-button-wrapper {
  position: relative;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.file-input-label {
  position: absolute !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}

.button-wrapper,
.button:focus {
  outline: none;
}

.button-wrapper {
  padding: 0;
}

.button-wrapper:focus > .button:after {
  display: block;
  content: "";
  position: absolute;
  top: -3px;
  bottom: -5px;
  left: -4px;
  right: -4px;
  box-shadow: 0 0 0px 3px #d1bcfe;
  border-radius: 10px;
}

.button-wrapper:active > .button:after {
  top: -4px;
  bottom: -4px;
}

.button {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 11px 22px;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: transform 200ms;
  border: 1px #dbdbdb solid;
  font-size: 0.95rem;
}

.button.button-white {
  background: white;
  border-color: #dbdbdb;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.08);
}

.button:not(.busy):not(.disabled):hover {
  transform: scale(1.025);
}

.button-wrapper:active .button:not(.busy):not(.disabled) {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 0 18px;
}

.icon-button.active {
  border-color: #ae86fd;
  background: #f4f1ff;
  cursor: default;
  box-shadow: none;
  color: #7c3cfc;
  pointer-events: none;
  filter: hue-rotate(-6deg);
}

.icon-button img,
.icon-button svg {
  width: 14px;
  height: 14px;
}

.list-view-button {
  margin-left: 14px;
}

.grid-view-button {
  margin-left: 8px;
}

.grid-view-button .button,
.list-view-button .button {
  padding: 0 16px;
  height: 36px;
}

.button-shine {
  position: absolute;
  width: 95px;
  top: -21px;
  left: -4px;
  height: 35px;
  transition: 300ms ease;
}

.button-primary:hover .button-shine {
  left: 4px;
}

.button-primary {
  background: hsl(260, 92%, 56%);
  box-shadow: 0px 3px 6px -1px hsla(260, 97%, 10%, 0.55),
    inset 0px 3px 8px 1px hsla(0, 0%, 100%, 0.35);
  color: white;
  border: none;
  padding: 12px 24px;
}

.button-primary.busy {
  cursor: progress;
  animation: pulse 2s infinite;
  opacity: 0.8;
  box-shadow: 0px 3px 6px -1px hsla(260, 97%, 10%, 0),
    inset 0px 3px 8px 1px hsla(0, 0%, 100%, 0.35);
}

.button-primary.disabled {
  cursor: default;
  opacity: 0.5;
  box-shadow: 0px 3px 6px -1px hsla(260, 97%, 10%, 0),
    inset 0px 3px 8px 1px hsla(0, 0%, 100%, 0.35);
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.4;
  }
}

.button-primary.danger {
  background: #fc3c83;
  box-shadow: 0px 3px 6px -1px hsla(320, 97%, 10%, 0.37),
    inset 0px 3px 8px 1px hsla(0, 0%, 100%, 0.35);
}

.button-secondary {
  background: #f6f7f9;
  box-shadow: 0px 3px 6px -1px hsla(0, 0%, 0%, 0.14),
    inset 0px 4px 6px 1px hsl(0, 0%, 100%);
  border: 1px transparent solid; /* #dbdbdb99 */
}

.button-hollow {
  border: 3px solid var(--primary-color);
  box-sizing: content-box;
  padding: 9px 20px;
  color: hsl(260, 93%, 35%);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.18);
  background: #f9f9f9;
}

.button-hollow.danger {
  border: 3px solid #fc3c83;
  color: #fc3c83;
}

.button-simple {
  color: var(--primary-color);
  font-size: 14px;
  border: none;
}

.buttons .button-wrapper + .button-wrapper {
  margin-left: 8px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 20px;
  height: 86px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.sticky-bar .button-secondary,
.sticky-bar .button-hollow {
  transform: scale(0.9);
}

.sticky-bar .button-hollow:hover {
  transform: scale(0.97) !important;
}

.sticky-bar-left-side {
  display: flex;
  align-items: center;
}

.sticky-bar-buttons {
  display: flex;
}

.sticky-bar .button {
  margin: 0;
}

.team-logo {
  height: 32px;
  margin-right: 12px;
  margin-left: 4px;
}

.image-field-form-preview {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
}

.sticky-bar .team-name {
  position: relative;
  top: 1px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-overlay-drag-active {
  /* pass all events through */
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 20px 0px;
  border-radius: 32px;
  background: white;
}

.modal-x {
  position: absolute;
  top: -30px;
  right: -50px;
  width: 30px;
  cursor: pointer;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.avatar-modal {
  border-radius: 100%;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.form-error {
  width: 100%;
  color: #fc3c83;
  margin-bottom: 35px;
}

.form-error + .form-error {
  margin-top: -30px;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-direction: row-reverse;
  flex-shrink: 0;
}

/* tooltip */

:root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px;
}

button[aria-label][data-balloon-pos] {
  overflow: visible;
}

[aria-label][data-balloon-pos] {
  position: relative;
  cursor: pointer;
}
[aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 4px;
  color: #fff;
  content: attr(aria-label);
  padding: 0.5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}
[aria-label][data-balloon-pos].font-awesome:after {
  font-family: FontAwesome, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre;
}
[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word;
}
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}
[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:after {
  left: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:after {
  right: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  left: 100%;
  margin-left: 10px;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  white-space: normal;
  width: 80px;
}
[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  white-space: normal;
  width: 150px;
}
[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px;
}
[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  white-space: normal;
  width: 380px;
}
@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    white-space: normal;
    width: 90vw;
  }
}
[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  white-space: normal;
  width: 100%;
}

/* tooltip */
